### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [5]:
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [9]:
# Crear la columna Facturacion
tienda['Facturacion'] = tienda['Precio'] + tienda['Costo de envío']

# Calcular facturación total por tienda
facturacion_por_tienda = (
    tienda
    .groupby('Lugar de Compra')['Facturacion']
    .sum()
)

print(facturacion_por_tienda)

Lugar de Compra
Armenia            4858100.0
Barranquilla      34685800.0
Bogotá           463439800.0
Bucaramanga       18527400.0
Cali             162651900.0
Cartagena         23495800.0
Cúcuta            39926100.0
Inírida            2864800.0
Leticia           15452200.0
Manizales          8464700.0
Medellín         312738700.0
Neiva              3683100.0
Pasto             15803200.0
Pereira           59194000.0
Riohacha          19487000.0
Santa Marta       13921300.0
Soacha             4343100.0
Valledupar         1177600.0
Villavicencio      7543700.0
Name: Facturacion, dtype: float64

# 2. Ventas por categoría

In [10]:
categorias_populares = (
    tienda
    .groupby(['Lugar de Compra', 'Categoría del Producto'])
    .size()
    .reset_index(name='Ventas')
)

# Quedarse con la categoría más vendida por tienda
categorias_populares = (
    categorias_populares
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, False])
    .drop_duplicates(subset='Lugar de Compra')
)

print(categorias_populares)

    Lugar de Compra   Categoría del Producto  Ventas
6           Armenia                  Muebles       4
10     Barranquilla             Electrónicos      14
22           Bogotá                  Muebles     195
27      Bucaramanga                 Juguetes       8
33             Cali             Electrónicos      67
45        Cartagena                  Muebles      11
49           Cúcuta             Electrónicos      13
56          Inírida   Instrumentos musicales       2
60          Leticia        Electrodomésticos       9
68        Manizales             Electrónicos       4
73         Medellín             Electrónicos     123
81            Neiva                  Muebles       3
82            Pasto     Deportes y diversión       5
96          Pereira                  Muebles      31
100        Riohacha             Electrónicos      12
105     Santa Marta  Artículos para el hogar       6
113          Soacha     Deportes y diversión       2
117      Valledupar                  Muebles       2
121   Villavicencio                  Muebles       4

In [11]:
productos_populares = (
    tienda
    .groupby(['Lugar de Compra', 'Producto'])
    .size()
    .reset_index(name='Ventas')
)

productos_populares = (
    productos_populares
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, False])
    .drop_duplicates(subset='Lugar de Compra')
)

print(productos_populares)

    Lugar de Compra                   Producto  Ventas
9           Armenia           Silla de oficina       2
24     Barranquilla                 Cubertería       4
103          Bogotá               Vaso térmico      30
106     Bucaramanga        Balón de baloncesto       3
168            Cali               Refrigerador      10
210       Cartagena           Silla de oficina       4
228          Cúcuta                  Iphone 15       4
244         Inírida  Auriculares con micrófono       1
258         Leticia                     Estufa       4
284       Manizales                   Smart TV       2
289        Medellín                Auriculares      19
337           Neiva                    Armario       1
353           Pasto           Lavadora de ropa       3
363         Pereira                    Armario       7
421        Riohacha         Guitarra eléctrica       3
444     Santa Marta    Bloques de construcción       2
464          Soacha                  Cama king       1
469      Valledupar                Auriculares       1
473   Villavicencio                   Cama box       4

In [12]:
top_categorias = (
    tienda
    .groupby(['Lugar de Compra', 'Categoría del Producto'])
    .size()
    .reset_index(name='Ventas')
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, False])
    .groupby('Lugar de Compra')
    .head(3)
)

print(top_categorias)

    Lugar de Compra   Categoría del Producto  Ventas
6           Armenia                  Muebles       4
4           Armenia                 Juguetes       3
2           Armenia        Electrodomésticos       2
10     Barranquilla             Electrónicos      14
14     Barranquilla                  Muebles      13
8      Barranquilla     Deportes y diversión       9
22           Bogotá                  Muebles     195
18           Bogotá             Electrónicos     162
20           Bogotá                 Juguetes     137
27      Bucaramanga                 Juguetes       8
25      Bucaramanga             Electrónicos       5
29      Bucaramanga                  Muebles       5
33             Cali             Electrónicos      67
37             Cali                  Muebles      51
32             Cali        Electrodomésticos      41
45        Cartagena                  Muebles      11
43        Cartagena                 Juguetes      10
40        Cartagena        Electrodomésticos       8
49           Cúcuta             Electrónicos      13
53           Cúcuta                  Muebles      13
48           Cúcuta        Electrodomésticos       9
56          Inírida   Instrumentos musicales       2
54          Inírida        Electrodomésticos       1
55          Inírida             Electrónicos       1
60          Leticia        Electrodomésticos       9
64          Leticia                  Muebles       6
59          Leticia     Deportes y diversión       5
68        Manizales             Electrónicos       4
69        Manizales                  Muebles       4
66        Manizales     Deportes y diversión       3
73         Medellín             Electrónicos     123
77         Medellín                  Muebles     107
75         Medellín                 Juguetes      80
81            Neiva                  Muebles       3
78            Neiva  Artículos para el hogar       1
79            Neiva        Electrodomésticos       1
82            Pasto     Deportes y diversión       5
83            Pasto        Electrodomésticos       5
84            Pasto             Electrónicos       4
96          Pereira                  Muebles      31
92          Pereira             Electrónicos      20
90          Pereira     Deportes y diversión      18
100        Riohacha             Electrónicos      12
101        Riohacha   Instrumentos musicales       5
104        Riohacha                  Muebles       5
105     Santa Marta  Artículos para el hogar       6
112     Santa Marta                  Muebles       6
107     Santa Marta        Electrodomésticos       5
113          Soacha     Deportes y diversión       2
114          Soacha             Electrónicos       2
115          Soacha                  Muebles       1
117      Valledupar                  Muebles       2
116      Valledupar             Electrónicos       1
121   Villavicencio                  Muebles       4
118   Villavicencio        Electrodomésticos       3
119   Villavicencio             Electrónicos       2

# 3. Calificación promedio de la tienda

In [13]:
promedio_calificacion = tienda['Calificación'].mean()
print(promedio_calificacion)

3.976685036032217

In [14]:
promedio_calificacion_tienda = (
    tienda
    .groupby('Lugar de Compra')['Calificación']
    .mean()
)

print(promedio_calificacion_tienda)

Lugar de Compra
Armenia          3.357143
Barranquilla     3.573333
Bogotá           4.089431
Bucaramanga      4.387097
Cali             3.985866
Cartagena        4.037736
Cúcuta           3.882353
Inírida          4.000000
Leticia          4.156250
Manizales        3.800000
Medellín         3.866785
Neiva            4.500000
Pasto            4.043478
Pereira          3.947368
Riohacha         3.450000
Santa Marta      3.750000
Soacha           4.600000
Valledupar       2.666667
Villavicencio    4.090909
Name: Calificación, dtype: float64

In [15]:
promedio_calificacion_producto = (
    tienda
    .groupby('Producto')['Calificación']
    .mean()
    .sort_values(ascending=False)
)

print(promedio_calificacion_producto)

Producto
Ajedrez de madera              4.428571
Iniciando en programación      4.292683
Cubertería                     4.230769
Smartwatch                     4.209302
Batería                        4.188679
Impresora                      4.166667
Tablet ABXY                    4.142857
Carrito de control remoto      4.134615
Estufa                         4.133333
Lavadora de ropa               4.127660
Cama box                       4.113636
Kit de bancas                  4.113636
Ciencia de datos con Python    4.102564
Bloques de construcción        4.089286
Guitarra eléctrica             4.085106
Asistente virtual              4.075000
Sillón                         4.073171
Balón de voleibol              4.071429
Cubo mágico 8x8                4.068182
TV LED UHD 4K                  4.050000
Mesa de centro                 4.022727
Lavavajillas                   4.020833
Refrigerador                   4.018519
Smart TV                       4.000000
Sofá reclinable                4.000000
Microondas                     3.983333
Juego de mesa                  3.976744
Muñeca bebé                    3.975000
Mochila                        3.974359
Auriculares con micrófono      3.969697
Guitarra acústica              3.956522
Dashboards con Power BI        3.952381
Armario                        3.950000
Secadora de ropa               3.948276
Bicicleta                      3.944444
Iphone 15                      3.938776
Pandereta                      3.916667
Vaso térmico                   3.888889
Balón de baloncesto            3.872727
Silla de oficina               3.847826
Celular ABXY                   3.818182
Mesa de noche                  3.803571
Mesa de comedor                3.800000
Dinosaurio Rex                 3.775000
Cama king                      3.772727
Olla de presión                3.771429
Modelado predictivo            3.647059
Auriculares                    3.640000
Cuerda para saltar             3.625000
Set de ollas                   3.581395
Set de vasos                   3.292683
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [16]:
ventas_producto = (
    tienda
    .groupby(['Lugar de Compra', 'Producto'])
    .size()
    .reset_index(name='Ventas')
)

In [17]:
producto_mas_vendido = (
    ventas_producto
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, False])
    .drop_duplicates(subset='Lugar de Compra')
)

print(producto_mas_vendido)

    Lugar de Compra                   Producto  Ventas
9           Armenia           Silla de oficina       2
24     Barranquilla                 Cubertería       4
103          Bogotá               Vaso térmico      30
106     Bucaramanga        Balón de baloncesto       3
168            Cali               Refrigerador      10
210       Cartagena           Silla de oficina       4
228          Cúcuta                  Iphone 15       4
244         Inírida  Auriculares con micrófono       1
258         Leticia                     Estufa       4
284       Manizales                   Smart TV       2
289        Medellín                Auriculares      19
337           Neiva                    Armario       1
353           Pasto           Lavadora de ropa       3
363         Pereira                    Armario       7
421        Riohacha         Guitarra eléctrica       3
444     Santa Marta    Bloques de construcción       2
464          Soacha                  Cama king       1
469      Valledupar                Auriculares       1
473   Villavicencio                   Cama box       4

In [18]:
producto_menos_vendido = (
    ventas_producto
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, True])
    .drop_duplicates(subset='Lugar de Compra')
)

print(producto_menos_vendido)

    Lugar de Compra                   Producto  Ventas
0           Armenia    Bloques de construcción       1
15     Barranquilla                Auriculares       1
57           Bogotá  Auriculares con micrófono       8
105     Bucaramanga  Auriculares con micrófono       1
166            Cali            Olla de presión       1
180       Cartagena          Ajedrez de madera       1
218          Cúcuta  Auriculares con micrófono       1
244         Inírida  Auriculares con micrófono       1
249         Leticia                    Armario       1
272       Manizales                    Armario       1
301        Medellín                 Cubertería       4
337           Neiva                    Armario       1
343           Pasto                    Armario       1
383         Pereira                  Impresora       1
411        Riohacha        Balón de baloncesto       1
438     Santa Marta          Ajedrez de madera       1
464          Soacha                  Cama king       1
469      Valledupar                Auriculares       1
472   Villavicencio    Bloques de construcción       1

In [19]:
resumen_productos = (
    ventas_producto
    .sort_values(['Lugar de Compra', 'Ventas'], ascending=[True, False])
    .groupby('Lugar de Compra')
    .agg(
        Producto_mas_vendido=('Producto', 'first'),
        Ventas_max=('Ventas', 'first'),
        Producto_menos_vendido=('Producto', 'last'),
        Ventas_min=('Ventas', 'last')
    )
    .reset_index()
)

print(resumen_productos)

   Lugar de Compra       Producto_mas_vendido  Ventas_max  \
0          Armenia           Silla de oficina           2
1     Barranquilla                 Cubertería           4
2           Bogotá               Vaso térmico          30
3      Bucaramanga        Balón de baloncesto           3
4             Cali               Refrigerador          10
5        Cartagena           Silla de oficina           4
6           Cúcuta                  Iphone 15           4
7          Inírida  Auriculares con micrófono           1
8          Leticia                     Estufa           4
9        Manizales                   Smart TV           2
10        Medellín                Auriculares          19
11           Neiva                    Armario           1
12           Pasto           Lavadora de ropa           3
13         Pereira                    Armario           7
14        Riohacha         Guitarra eléctrica           3
15     Santa Marta    Bloques de construcción           2
16          Soacha                  Cama king           1
17      Valledupar                Auriculares           1
18   Villavicencio                   Cama box           4

       Producto_menos_vendido  Ventas_min
0                Vaso térmico           1
1                 Tablet ABXY           1
2   Auriculares con micrófono           8
3                Vaso térmico           1
4             Olla de presión           1
5                Vaso térmico           1
6                 Tablet ABXY           1
7                Refrigerador           1
8                Vaso térmico           1
9                 Tablet ABXY           1
10                 Cubertería           4
11               Refrigerador           1
12                Tablet ABXY           1
13               Vaso térmico           1
14               Vaso térmico           1
15               Vaso térmico           1
16               Vaso térmico           1
17            Sofá reclinable           1
18                   Smart TV           1

# 5. Envío promedio por tienda

In [20]:
costo_promedio_envio = tienda['Costo de envío'].mean()
print(costo_promedio_envio)

26018.60958033065

In [21]:
costo_promedio_envio_tienda = (
    tienda
    .groupby('Lugar de Compra')['Costo de envío']
    .mean()
)

print(costo_promedio_envio_tienda)

Lugar de Compra
Armenia          17314.285714
Barranquilla     23708.000000
Bogotá           23815.853659
Bucaramanga      30587.096774
Cali             28827.561837
Cartagena        22624.528302
Cúcuta           40129.411765
Inírida          28460.000000
Leticia          24450.000000
Manizales        29140.000000
Medellín         28207.104796
Neiva            31516.666667
Pasto            35078.260870
Pereira          22403.759398
Riohacha         24357.500000
Santa Marta      22593.750000
Soacha           43420.000000
Valledupar       18766.666667
Villavicencio    34709.090909
Name: Costo de envío, dtype: float64